<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
   
    <div class="container">
        <h1> <%= Prod.name %> <a href="/"> Back to Index Page</a></h1>
    <h2>
        
  <img src="<%= Prod.img %>"></h2>
  <div class="container">
  <form action="/<%=Prod._id %>?_method=PUT" method="post">
    Name: <input type="text" name="name" placeholder="<%= Prod.name %>" > <br/>
    Description: <input type="text" name="Description" placeholder="Add New Description"> <br/>
    Image Link: <input type="text" name="img" placeholder="Enter Image Link URL HERE"> <br/>
    Price: <input type="text" name="Price" placeholder="Enter New Price"> <br/>
    QTY: <input type ="number" name="qty" placeholder="Amount"><br/>

    <input type="submit" value="Update Product"> 
</div>