<!DOCTYPE html>
<html>
    <%- include("partials/head.ejs") %>
  <body>
    <h1>Mongoose Store</h1>
    
     <nav>
     <h1>Click on one below OR
         <a href="/new">Add a Product</a>
     </h1>
    </nav>
    <div class="container">
      <ul>
      <% allProducts.forEach(allProducts =>{ %>
          <a class="product-container" href="/<%=allProducts._id%>">
              <div class="data-container">
                  <li><%=allProducts.name%></li> <br/>
                  <img src="<%=allProducts.img%>" alt="<%=allProducts.name%>">
                  Price: <%=allProducts.price%>
             
              <% }) %>  
             </ul> 
            </div>   
             
  </body>
</html>